<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheatSheet</title>
</head>
<body>
<a href="/historia" >Historia</a>
<a href="/historia/18-wiek">Historia 18w.</a>

</body>
<style>
    body{
        background-color: #505155;
        color: #fff;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 50px;
        font-family: "Ubuntu", serif;
    }



</style>

</html>