<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<iframe src="https://v2-embednotion.com/Klasa-2-f32213dc2d914959a14ae7be29d52df0"></iframe>
<style>  iframe {
    width: 100%;
    height: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: none;
}  </style>
</body>
</html>