<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<iframe src="https://v1.embednotion.com/embed/f03d4d90ef4d444bab567958f91e5687"></iframe>
<style>  iframe {
    width: 100%;
    height: 100vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0;
}  </style>
</body>
</html>